services:
  ollama:
    image: ollama/ollama:0.13.5
    container_name: ollama
    restart: unless-stopped
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities:
                - gpu
    environment:
      - OLLAMA_MAX_LOADED_MODELS=1
      - OLLAMA_NUM_PARALLEL=1
      - OLLAMA_KV_CACHE_TYPE=q8_0
    volumes:
      - ./ollama:/root/.ollama
    ports:
      - 11434:11434
networks: {}
